**/.git
**/.github
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/TestResults
**/.pytest_cache
**/__pycache__
**/*.pyc
**/node_modules
**/dist
**/.vite
**/build
**/.dart_tool
**/.env
**/.env.*
!**/.env.example
.dotnet
.dotnet_temp
frontend-web/
mobile/
ai-service/
docs/
