# Backend API base URL endpoint
VITE_API_BASE_URL=http://localhost:5206/api

# Google OAuth 2.0 Web Client ID
VITE_GOOGLE_CLIENT_ID=798399724938-4qe2149lkh5j4u8am7tjq922r36e9aqu.apps.googleusercontent.com

